@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="/css/common.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="contain">
      <div class="head">
      <ul>
      <li><a href="#">首页</a></li>
      <li><a href="#">电影</a></li>
      <li><a href="#">电视剧</a></li>
      <li><a href="#">自拍视频</a></li>
      <li><a href="#">搞笑</a></li>
      </ul>
      </div>
      <div class="content clear">

      <div class="movie">
      <h2>电影</h2>
      <ul>
      <li><a><img src="/image/b_20151027161013312.jpg" /></a>
      <p>啦啦啦啦啦了sdfsdfsdfsdf</p>
          </li>
          <li><a><img src="/image/b_20151027161013312.jpg" /></a>
          <p>啦啦啦啦啦了</p>
          </li>
          <li><a><img src="/image/b_20151027161013312.jpg" /></a>
          <p>啦啦啦啦啦了</p>
          </li>
          <li><a><img src="/image/b_20151027161013312.jpg" /></a>
          <p>啦啦啦啦啦了</p>
          </li>
          <li><a><img src="/image/b_20151027161013312.jpg" /></a>
          <p>啦啦啦啦啦了</p>
          </li>
          <li><a><img src="/image/b_20151027161013312.jpg" /></a>
          <p>啦啦啦啦啦了</p>
          </li>
          <li><a><img src="/image/b_20151027161013312.jpg" /></a>
          <p>啦啦啦啦啦了</p>
          </li>
          <li><a><img src="/image/b_20151027161013312.jpg" /></a>
          <p>啦啦啦啦啦了</p>
          </li>
          <li><a><img src="/image/b_20151027161013312.jpg" /></a>
          <p>啦啦啦啦啦了</p>
          </li>
      </ul>
      </div>


      <div class="movie">
      <h2>电视剧</h2>
      <ul>
      <li><a><img src="/image/b_20151027161013312.jpg" /></a>
      <p>啦啦啦啦啦了</p>
          </li>
          <li><a><img src="/image/b_20151027161013312.jpg" /></a>
          <p>啦啦啦啦啦了</p>
          </li>
          <li><a><img src="/image/b_20151027161013312.jpg" /></a>
          <p>啦啦啦啦啦了</p>
          </li>
          <li><a><img src="/image/b_20151027161013312.jpg" /></a>
          <p>啦啦啦啦啦了</p>
          </li>
          <li><a><img src="/image/b_20151027161013312.jpg" /></a>
          <p>啦啦啦啦啦了</p>
          </li>
          <li><a><img src="/image/b_20151027161013312.jpg" /></a>
          <p>啦啦啦啦啦了</p>
          </li>
          <li><a><img src="/image/b_20151027161013312.jpg" /></a>
          <p>啦啦啦啦啦了</p>
          </li>
          <li><a><img src="/image/b_20151027161013312.jpg" /></a>
          <p>啦啦啦啦啦了</p>
          </li>
          <li><a><img src="/image/b_20151027161013312.jpg" /></a>
          <p>啦啦啦啦啦了</p>
          </li>
      </ul>
      </div>
      </div>
      <div class="foot  clear">底部</div>
    </div>
</body>
</html>
