@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>在线影院</title>
    <link href="/css/common.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
     .body{margin:0;padding:0}
     .header{width:100%;height:150px;background:#9c9}
     .main{width:100%;height:1000px;background:#f0f0f0;}
     .main_left{width:300px;height:1000px;background:#c4e1ff;position:absolute}
     .main_right{height:1000px;background:#fff;float:left;position:absolute}
     .footer{width:100%;height:150px;background:#f0f0f0;}
     .toptitle{font-size:50px;color: #fff}
     </style>
</head>
<body>
<div class= "header">
<p class="toptitle">在线影院
</div>
<div class="main">
    <div class="main_left"></div>
    <div class="main_right"></div>
</div>
<div class="footer"></div>
 </body>
</html>
