@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>在线影院</title>
    <link href="/css/MyMovie.css" rel="stylesheet" type="text/css" />
    
</head>
<body>
    <div id="wrap">
        <div id="header">
            <div class="logo">在线影院系统</div>
                <p class="search"><input type="text" name="search"/>搜索</p>
            <div class="nav" >
                <ul>
                    <li><a href="#">首页</a></li>
                    <li><a href="#">喜剧</a></li>
                    <li><a href="#">动作</a></li>
                    <li><a href="#">爱情</a></li>
                    <li><a href="#">武侠</a></li>
                    <li><a href="#">战争</a></li>
                    <li><a href="#">科幻</a></li>
                    <li><a href="#">恐怖</a></li>
                    <li><a href="#">犯罪</a></li>
                    <li><a href="#">惊悚</a></li>
                    <li><a href="#">剧情</a></li>
                    <li><a href="#">其他</a></li>
                </ul>
            </div>   
        </div>
        <div class="line"></div>
        <div id="mainbody">
            <div id="left">
                <div class=movie>电影</div>
            </div>
            <div id="right">
                <div class="teleplay">电视剧</div>
            </div>
        </div>
        <div id="footer"></div>   
    </div>

 </body>
</html>
