@{
    ViewBag.Title = "MovieDetail";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>在线影院</title>
    <link href="/css/MovieDetail.css" rel="stylesheet" type="text/css" />
    <script src="/js/jquery.js" type="text/javascript"></script>
    <script src="/js/jwplayer.js" type="text/javascript"></script>
    <script src="/js/jwplayer.html5.js" type="text/javascript"></script>
</head>
<body>
    <div id="wrap">
        <div id="header">
            <div class="bgp">
                <img src="../../image/login.jpg" / alt="" class="pic"/>
            </div>
            <div class="logo">
                <img src="../../image/logo.png" / alt="加载失败" class="piclogo"/>
                在线影院系统
                <div class="login">
                @if (ViewBag.username == "")
                {
                <a href="/Home/SignIn" class="signin">登陆</a>
                <a href="/Home/SignUp" class="signup">注册</a>
                    }
                else {
                    <div class="SignOut">
                    <span>@ViewBag.username</span>
                    <a href="/Home/Index" class="signout">退出</a>   
                    </div>
                }
                </div>
            </div>
        </div>
        
        
        <div id="main">
             <div class="MovieName">
                <h2>@ViewBag.movieModel.Name </h2>
            </div>
            <div class="playarea" id="video">
        
            </div>
            <div class="Introduce">
            <p>简介：@ViewBag.movieModel.Introduce </p>
            </div>
        </div>
</div>
</body>
<script>
    jwplayer.key = 'qkBkwh8x3xXeoDJ2MEDA2r4WB0/GcC9IUyD45A==';
    var thePlayer;
    $(function () {
        thePlayer = jwplayer('video').setup({
            flashplayer: '/js/jwplayer.flash.swf',
            file: '/Upload/Video/02.mp4',
            width: 1366,
            height: 768,
            dock: false
        });
    });
</script>
</html>

