body {
}
 .clear{clear:both;}

 a{ color:Red; }
.contain{ width:1000px; margin:0 auto;}
.head{ width:100%; background-color:#ccc;}
.head ul li{width:100px; float:left;}
.head ul li a{ color:#aaa;}




.content{ background-color:#666444; float:none;}
.movie{ background-color:Blue;}
.movie ul{ list-style-type:none;}
.movie ul li{width:320px; height:225px; float:left;}
.movie ul li a{height:200px;}
.movie ul li p{ height:15px; color:Green; background-color:#ccc; margin-top:2px; }


.foot{ background-color:#999;}
