*{   margin:0 auto;
    padding:0;
    list-style:none;
    text-decoration:none;}
.background{background-color:#003e3e;height:100px;width:1366px;}
.piclogo{float:left;margin: 15px 10px 0px 60px; }
.title{line-height:100px;font-size:40px;font-family:"Microsoft Yahei";font-weight:bold;color:#fff}
.search
{
    font-size:16px;
    position:relative;top:-100px;right:-700px;
    color:#fff;
}

.box
{
    width:280px;
    height:30px;
    font-size:15px;
    color:#ccc;
    }
.button
{
    width:50px;
    height:30px;
    margin-left:5px;
    font-size:15px}