*
{
    margin:0;
    padding:0;
    list-style:none;
    text-decoration:none;
}

#wrap
{
    }
.logo
{
    
    width:1366px;
    height:100px;
    line-height:100px;
    font-size:40px;
    font-family:"Microsoft Yahei";
    font-weight:bold;
    background-color:#003e3e;
    color:#fff;
 }
 .piclogo
 {
    float:left;
    margin: 15px 10px 0px 60px; }
.search
{
    font-size:16px;
    position:absolute;top:30px;right:300px;
    line-height:80px;
    color:#fff;
}

.box
{
    width:280px;
    height:30px;
    font-size:15px;
    color:#ccc;
    }
.button
{
    width:50px;
    height:30px;
    margin-left:5px;
    font-size:15px}
.login
{
    position:absolute;top:60px;right:100px;
    font-size:15px;
    }
.signin , .signup
{
    color:#fff;
    margin-right:10px;}
.signin ,.signup:hover
{
    color:#ff2d2d;
    font-size:20px;}
#mainbody
{
    height:100%;
    width:1366px}    
.left
{
    background-color:#fff;
    width:20%;
    float:left;
    }  
    .line 
    {
        border-bottom:5px solid #005ab5;}
.left li a
    {   
        font-size:20px;
        font-weight:bold;
         display:block;
         text-align:center;
         line-height:80px;
         background-color:#e0e0e0; 
    } 

.left li a:hover
  {
      background-color:#005ab5;
      color:#fff;
      }

.right
{
    width:80%;
    float:right;
    background-color:#f0f0f0;
    }
.newmovie
{

    margin-left:65px;}
.nmtitle
{
    position:relative;
    
}
.nmtitle span
{
    position:absolute; top:20px;
    font-size:25px;
    color:#8e8e8e;}
    .nmtitle a
    {
        position:absolute;top: 35px;right:50px;
        font-size:10px;
        color:#8e8e8e;}
        .nmtitle a:hover
        {
            color:#ff5151;
            }
.moviebox
{
    height:320px;
    position:relative;
    margin:10px 20px;
    float:left;
    border:2px solid #cfc0c0;
    padding:5px;
    background-color:#fff;
    font-size:15px;
    font-weight:bold;
    }
.movietitle
{
    position:absolute;
    margin-left:3px;
    color:#000;/**/
    }
    .movietitle a  /*为什么在.movietitle里面定义颜色没用*/
    {
        color:#000;}
        .movietitle a:hover
        {
            color:#ff8040;}
.moviesorce
{
    position:absolute;
    margin-left:170px;
    color:#4f4f4f;}