*
{
    margin:0;
    padding:0;
    list-style:none;
    text-decoration:none;
}
#wrap{width:1000px;margin:0 auto;}

#header{width:1000px;height:100px;background-color:#888;}
.logo
{
    position:relative;
    line-height:100px;
    font-size:40px;
    font-family:"Microsoft Yahei";
    font-weight:bold;
    color:#fff;
 }
 .piclogo
 {
    float:left;
    margin: 15px 10px 0px 60px; }
 .logout{position:absolute;right:300px;top:50px}
.logout a{color:#fff;}
.logout a:hover{color:#ff2d2d;}

#mainbody{background-color:#dfdfdf;}


.typeselect{font-size:20px;font-family:黑体;padding:20px 0;}
.typeselect p{margin-left:20px}
.typeselect a{float:right;margin-right:20px;color:#fff;}
.typeselect a:hover{color:#ff2d2d}
.bg{width:250px;height:30px;font-size:20px;font-weight:bold;color:#a91e1e;}
.table{font-size:15px;table-layout:fixed;empty-cells:show;border-collapse:collapse;border:1px solid #ccc;}
.page{float:left;margin-top:10px;}
#page{background-color:#888;padding-top:10px;}